<footer class="bg-dark">
    <section class="uk-container py-md-5 py-3">
        <div class="row">
            <div class="col-md-2 pl-md-0 mb-2">
                <h3 class="uk-heading-bullet text-light mb-3">Vutaweb</h3>
                <ul class="nolist mt-0">
                    <li>
                        <a href="https://vutaweb.vn/details/ve-chung-toi" title="Về chúng tôi">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="#!" title="">Tính năng nổi bật</a>
                    </li>
                    <li>
                        <a href="#!" title="">Bảng giá</a>
                    </li>
                    <li>
                        <a href="#!" title="">Kho giao diện</a>
                    </li>
                    <li>
                        <a href="#!" title="">Kho ứng dụng</a>
                    </li>
                    <li>
                        <a href="#!" title="">Website tham khảo</a>
                    </li>
                    <li>
                        <a href="#!" title="">Thiết kế web Vũng Tàu</a>
                    </li>
                    <li>
                        <a href="#!" title="">Khuyến Mãi</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 pl-md-0 mb-2">
                <h3 class="uk-heading-bullet text-light mb-3">Về chúng tôi</h3>
                <ul class="nolist mt-0">
                    <li>
                        <a href="https://vutaweb.vn/details/quy-dinh-su-dung" title="">Qui định sử dụng</a>
                    </li>
                    <li>
                        <a href="https://vutaweb.vn/details/chinh-sach-bao-mat" title="">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="https://vutaweb.vn/details/chinh-sach-ieu-khoan" title="">Điều khoản và điều kiện</a>
                    </li>
                    <li>
                        <a href="#!" title="">Tuyển dụng vutaweb.vn</a>
                    </li>
                    <li>
                        <a href="https://vutaweb.vn/details/tam-nhin-su-menh" title="">Tầm nhìn - Sứ mệnh</a>
                    </li>
                    <li>
                        <a href="#!" title="">Chiến lược kinh doanh</a>
                    </li>
                    <li>
                        <a href="#!" title="">Ý kiến khách hàng</a>
                    </li>
                    <li>
                        <a href="#!" title="">Góc báo chí</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 pl-md-0 mb-2">
                <h3 class="uk-heading-bullet text-light mb-3">Dịch vụ</h3>
                <ul class="nolist mt-0">
                    <li>
                        <a href="#!" title="">Đăng ký tên miền</a>
                    </li>
                    <li>
                        <a href="#!" title="">Dịch vụ Email</a>
                    </li>
                    <li>
                        <a href="#!" title="">Quảng cáo Google</a>
                    </li>
                    <li>
                        <a href="#!" title="">Quảng cáo Zalo</a>
                    </li>
                    <li>
                        <a href="#!" title="">Quảng cáo Facebook</a>
                    </li>
                    <li>
                        <a href="#!" title="">Phần mềm quản lý</a>
                    </li>
                    <li>
                        <a href="#!" title="">Email Marketing</a>
                    </li>
                    <li>
                        <a href="#!" title="">SMS Marketing</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="d-block mb-2">
                    <h4 class="uk-heading-bullet text-light mb-2">
                        CTY TNHH CÔNG NGHỆ THƯƠNG MẠI DỊCH VỤ VUTATECH
                    </h4>
                    <ul class="nolist mt-0">
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Tầng 3, Edyco Building, 102A Lê Hồng Phong, Phường 4, Vũng Tàu, Bà Rịa - Vũng Tàu
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i> (+84) 254 627 5555 - (+84) 2547 300 400
                        </li>
                        <li>
                            <i class="fa fa-globe" aria-hidden="true"></i> design@vutatech.vn </li>
                    </ul>
                </div>
                <div class="d-block">
                    <h4 class="uk-heading-bullet text-light mb-2">
                        CTY TNHH CÔNG NGHỆ THƯƠNG MẠI DỊCH VỤ VUTATECH
                    </h4>
                    <ul class="nolist mt-0">
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Tầng 3, 26A Hoàng Việt, Phường 4, Quận Tân Bình, Hồ Chí Minh</li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i> (+84) 254 627 5555 - (+84) 2547 300 400
                        </li>
                        <li>
                            <i class="fa fa-globe" aria-hidden="true"></i> design@vutatech.vn </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center text-muted bg-black py-2">
            <p class="my-0">©2017 Bản quyền thuộc về VUTAWEB.VN - Một sản phẩm của VUTATECH TECHNOLOGY.</p> 
            <p class="my-0">Nền tảng website bán hàng được sử dụng nhiều nhất Việt nam.</p>
    </section>
</footer>
</div>

<script src="/dist/js/jquery-3.3.1.min.js"></script>
<script src="/dist/js/uikit.min.js"></script>
<script src="/dist/js/uikit-icons.min.js"></script>
<script src="/dist/js/main.js"></script>
</body>

</html>