<section class="bg-light">
    <div class="about-index desk-md-full">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <img 
                    alt="" 
                    data-src="/dist/images/web-banner.png" 
                    uk-img="target: .about-index"
                    uk-scrollspy="cls: uk-animation-scale-up; delay: 400; duration: 2000">
                </div>
                <div class="col-md-7 py-md-5 py-3">
                    <div class="text-center d-block">
                        <h2 class="uk-heading-line uk-text-bold text-white mb-1">
                            <span>Bảo mật & SEO</span>
                        </h2>
                        <h4 class="text-light mt-2 mb-0">Áp dụng cộng nghệ 4.0.</h4>
                    </div>
                    <div class="row text-center mt-md-5 mt-3">
                        <div 
                        class="col-md-4 mb-2 px-1" 
                        uk-scrollspy="cls: uk-animation-slide-top-small; delay: 400">
                            <div class="shadow text-white p-3 h-100">
                                <img class="icon" src="" alt="" data-src="/dist/images/icons/shield.svg" uk-img="target: .about-index">
                                <p>Xác thực website và bảo mật thông tin trước sự tấn công của virus, hacker</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2 px-1"
                        uk-scrollspy="cls: uk-animation-slide-top-small; delay: 500">
                            <div class="shadow text-white p-3 h-100">
                                <img class="icon" src="" alt="" data-src="/dist/images/icons/cup.svg" uk-img="target: .about-index">
                                <p>Nâng cao uy tín và mức độ tin tưởng của thương hiệu khi website của bạn có chứng chỉ SSL</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2 px-1"
                        uk-scrollspy="cls: uk-animation-slide-top-small; delay: 600">
                            <div class="shadow text-white p-3 h-100">
                                <img class="icon" src="" alt="" data-src="/dist/images/icons/www.svg" uk-img="target: .about-index">
                                <p>Website được cấp chứng chỉ SSL với giao thức HTTPS sẽ được Google đánh giá tốt và hỗ trợ
                                    SEO</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2 px-1"
                        uk-scrollspy="cls: uk-animation-slide-top-small; delay: 700">
                            <div class="shadow text-white p-3 h-100">
                                <img class="icon" src="" alt="" data-src="/dist/images/icons/cloud.svg" uk-img="target: .about-index">
                                <p>Website bán hàng VUTAWEB.VN được tối ưu để thân thiện với các công cụ tìm kiếm, đặc biệt
                                    là Google</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2 px-1"
                        uk-scrollspy="cls: uk-animation-slide-top-small; delay: 800">
                            <div class="shadow text-white p-3 h-100">
                                <img class="icon" src="" alt="" data-src="/dist/images/icons/phone.svg" uk-img="target: .about-index">
                                <p>Tối ưu tiêu đề, mô tả SEO cho từng trang nội dung và cơ chế gợi ý tiêu đề, mô tả tự động</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2 px-1"
                        uk-scrollspy="cls: uk-animation-slide-top-small; delay: 900">
                            <div class="shadow text-white p-3 h-100">
                                <img class="icon" src="" alt="" data-src="/dist/images/icons/statis.svg" uk-img="target: .about-index">
                                <p>Hỗ trợ SEO hình ảnh với thẻ ALT và đặc biệt link URL được tối ưu chuẩn SEO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>