<header class="header" uk-sticky="animation: uk-animation-slide-top; sel-target: .sologan; cls-active: header-fixed shadow; top: 20">
    <div class="uk-container">
        <div class="row align-items-center">
            <a href="/" class="col-md-3 col-10 logo py-2 text-md-left text-center">
                <img alt="" src="/dist/images/logo.png">
            </a>
            <div class="col-md-9 col-2 nodesk">
                <a class="d-md-none" uk-toggle="target: nav" uk-icon="icon: grid; ratio: 1.5"></a>
                <nav class="d-block" uk-offcanvas="mode: push; overlay: true">
                    <div class="uk-offcanvas-bar">
                        <button class="d-md-none uk-offcanvas-close" type="button" uk-close></button>
                        <ul class="nolist d-md-inline-flex navbar text-md-right">
                            <li>
                                <a href="./page.html">Về chúng tôi</a>
                            </li>
                            <li>
                                <a href="./news.html">Tin tức</a>
                            </li>
                            <li>
                                <a href="#">Thiết kế web</a>
                                <ul class="nolist text-left shadow" uk-dropdown="pos: bottom-center; animation: uk-animation-slide-top-small; duration: 1000">
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-dien-dan" title="">Website Diễn đàn</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/web-doanh-nghiep" title="">Web doanh nghiệp</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-tron-goi" title="">Thiết kế website trọn gói</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-tin-tuc" title="">Thiết kế website tin tức</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-ban-hang" title="">Thiết kế Website bán hàng</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/chuyen-thiet-ke-website-noi-that" title="">Thiết kế Website nội thất</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/chuyen-thiet-ke-website-do-uong" title="">Thiết kế website ẩm thực</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/chuyen-thiet-ke-website-du-lich" title="">Thiết kế website du lịch</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/chuyen-thiet-ke-website-ban-ve-may-bay" title="">Thiết kế website bán vé máy bay</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-quan-coffee" title="">Thiết kế website coffee and food</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/chuyen-thiet-ke-website-xay-dung" title="">Thiết kế website xây dựng</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-studio-anh-cuoi" title="">Thiết kế website studio ảnh cưới</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-ban-do-the-thao" title="">Thiết kế website bán đồ thể thao</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/thiet-ke-website-thuong-mai-dien-tu" title="">Thiết kế website thương mại điện tử</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Marketing</a>
                                <ul class="nolist text-left shadow" uk-dropdown="pos: bottom-center; animation: uk-animation-slide-top-small; duration: 1000">
                                    <li>
                                        <a href="https://vutaweb.vn/details/dich-vu-seo-tu-khoa" title="">Dịch vụ SEO từ khóa</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/google-adwords" title="">GOOGLE ADWORDS</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/seo-tu-khoa-la-gi-seo-tong-the-la-gi" title="">SEO từ khóa là gì? SEO tổng thể là gì?</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/bao-gia-marketing-online" title="">Báo giá Marketing Online</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/email-marketing-la-gi" title="">Email Marketing là gì?</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/quang-cao-facebook" title="">Quảng cáo Facebook</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Thương hiệu</a>
                                <ul class="nolist text-left shadow uk-animation-kenburns" uk-dropdown="pos: bottom-center; animation: uk-animation-slide-top-small; duration: 1000">
                                    <li>
                                        <a href="https://vutaweb.vn/details/logo-thuong-hieu" title="">LOGO Thương Hiệu</a>
                                    </li>
                                    <li>
                                        <a href="https://vutaweb.vn/details/banner-quang-cao" title="">Banner Quảng Cáo</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="./price.html">Bảng Giá</a>
                            </li>
                            <li>
                                <a href="./contact.html">Liên Hệ</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>